*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    color:white;
    width: 100%; 
    min-height: 100vh;
}

.wraper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background: url(img/37709.jpg) no-repeat center;
    
    position: absolute;
    top: 0;
    left: 0;
}
.content{
    min-width: 1590px;
    min-height: 750px;
    margin-left: auto;
    margin-right: auto;
    
}
a{
    color: white;
}
h1{
    letter-spacing: 3px;
    font-size: 46px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
}
h1 span{
    color:dodgerblue;
}
.grid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
 .cube, .cube div {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}
.cube div{
    transition:none;
}
.cube-bottom {
    background-size: 100%;
    transform: translate(0, 100%) rotateX(-90deg);
    transform-origin: top;
}

.rectangle-vertically{
    position: relative;
    width: 310px;
    height: 150px;
    border:0.25px solid rgb(255,255,255,0.4);
    grid-column-end: span 2;
    
}

.rectangle-horizontally{
    position: relative;
    width: 150px;
    height: 310px;
    border:0.25px solid rgb(255,255,255,0.4);
    grid-row-end: span 2;
    
}
.square{
    position: relative;
    width:150px;
    height: 150px;
    border:0.25px solid rgb(255,255,255,0.4);
       
}
.square .cube > * > i{
    position: absolute;
    top: 40%;
    left: 50%;
    font-size: 60px;
    transform: translate(-50%, -50%);
}
.square p{
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}




.square:hover .cube {
    transform: translate(0, -50%) rotateX(90deg);
    
}

.rectangle-horizontally:hover .cube {
    transform: translate(0, -50%) rotateX(90deg);
}
.rectangle-horizontally .cube > * > i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    transform: translate(-50%, -50%);
}
.rectangle-horizontally p{
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rectangle-vertically:hover .cube {
    transform: translate(0, -50%) rotateX(90deg);
}
.rectangle-vertically .cube > * > i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 60px;
    transform: translate(-50%, -50%);
}
.rectangle-vertically p{
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
